<!DOCTYPE html>
<html>
  <head>
    <title>Philips Filtry Air</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-agile"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-agile/dist/VueAgile.css" />
    <script src="assets/js/main.js"></script>
    <script src="assets/js/app.js"></script>
  </head>

  <body>
    <div id="philips_m_00">
      <div id="philips_m_01">
        <div class="phi_container">
          <div class="phi_kv">
            <div class="phi_wrapper phi_kv-wrapper">
              <img src="assets/img/philips-logo-top.png" alt="Philips oczyszczacze logo" class="phi_kv-logo" />
              <div class="phi_row">
                <div class="phi_col-lg-7 phi_col-xs-12 phi_kv-box">
                  <h3 class="phi_kv-heading">Filtry do oczyszczaczy i&nbsp;nawilżaczy Philips</h3>
                  <p class="phi_text phi_kv-text">Jak działają i&nbsp;który pasuje do&nbsp;Twojego urządzenia</p>
                  <a href="#" class="phi_btn phi_kv-btn" data-jump-to="#phi_section1">Dowiedz się więcej</a>
                </div>
                <div class="phi_kv-video">
                  <img src="assets/img/anim-mask-video.png" alt="Philips video maska" />
                  <video src="assets/img/filtry-philips-animation-880x480-v2.mp4" playsinline autoplay muted loop></video>
                </div>
              </div>
            </div>
          </div>
          <div class="phi_section1" id="phi_section1">
            <div class="phi_wrapper">
              <div class="phi_row">
                <div class="phi_col-xs-12 phi_text-center">
                  <h3 class="phi_heading">Rodzaje <strong>filtrów</strong></h3>
                  <p class="phi_text phi_section1-text">
                    Zadaniem filtrów jest skuteczne wychwytywanie niepożądanych cząsteczek z&nbsp;powietrza. W&nbsp;oczyszczaczach Philips,
                    by&nbsp;uzyskać powietrze najlepszej jakości, ten proces przebiega w&nbsp;trzech etapach. Zanieczyszczenia usuwane
                    są&nbsp;przez filtr wstępny, węglowy i&nbsp;na&nbsp;końcu filtr NanoProtect&nbsp;HEPA.
                  </p>
                </div>
              </div>
              <div class="phi_row">
                <div class="phi_col phi_text-center">
                  <p class="phi_section1-title">Skala obrazująca wielkość cząsteczek w mikrometrach (µm)</p>
                  <div class="phi_section1-scale">&nbsp;</div>
                </div>
              </div>
              <div class="phi_row">
                <div class="phi_col">
                  <div class="phi_section1_boxes">
                    <p class="phi_section1_box-scale-first">PM0,003 µm</p>
                    <div class="phi_section1_box">
                      <p class="phi_section1_box-scale">PM0,02 µm</p>
                      <img src="assets/img/mikroskopijne-czasteczki.png" alt="Mikroskopijne cząsteczki" />
                      <p class="phi_section1_box-name">Mikrosko&shy;pijne Cząsteczki</p>
                    </div>
                    <div class="phi_section1_box">
                      <p class="phi_section1_box-scale">PM0,3 µm</p>
                      <img src="assets/img/wirusy.png" alt="Wirusy" />
                      <p class="phi_section1_box-name">Wirusy</p>
                    </div>
                    <div class="phi_section1_box">
                      <p class="phi_section1_box-scale">PM1 µm</p>
                      <img src="assets/img/bakterie.png" alt="Bakterie" />
                      <p class="phi_section1_box-name">Bakterie</p>
                    </div>
                    <div class="phi_section1_box">
                      <p class="phi_section1_box-scale">PM2.5 µm</p>

                      <img src="assets/img/drobne-czasteczki.png" alt="Smog" />
                      <p class="phi_section1_box-name">Smog</p>
                    </div>
                    <div class="phi_section1_box">
                      <img src="assets/img/roztocza.png" alt="Roztocza" />
                      <p class="phi_section1_box-name">Roztocza</p>
                    </div>
                    <div class="phi_section1_box">
                      <img src="assets/img/zarodniki-plesni.png" alt="Zarodniki pleśni" />
                      <p class="phi_section1_box-name">Zarodniki pleśni</p>
                    </div>
                    <div class="phi_section1_box">
                      <img src="assets/img/pylki.png" alt="Pyłki" />
                      <p class="phi_section1_box-name">Pyłki</p>
                    </div>
                    <div class="phi_section1_box">
                      <img src="assets/img/siersc-zwierzat.png" alt="Sierść zwierząt" />
                      <p class="phi_section1_box-name">Sierść zwierząt</p>
                    </div>
                    <div class="phi_section1_box">
                      <img src="assets/img/kurz.png" alt="Kurz" />
                      <p class="phi_section1_box-name">Kurz</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="phi_section1_boxes">
                <div class="phi_section1_box phi_section1_boxes-flex">
                  <img src="assets/img/lotne-zw-organiczne.png" alt="Lotne związki organiczne" />
                  <p class="phi_section1_box-name">Lotne związki organiczne</p>
                </div>
                <div class="phi_section1_box phi_section1_boxes-flex">
                  <img src="assets/img/przykre-zapachy.png" alt="Przykre zapachy" />
                  <p class="phi_section1_box-name">Przykre zapachy</p>
                </div>
                <div class="phi_section1_boxes-info">
                  <p>0,003 µm = 0,0000003 cm</p>
                </div>
              </div>
            </div>
          </div>
          <div class="phi_section2">
            <div class="phi_wrapper">
              <div class="phi_row phi_vertical-center">
                <div class="phi_col-md-6 phi_text-center">
                  <img src="assets/img/filtr-wstepny.jpg" alt="Filtr wstępny" class="phi_section2-img phi_effect_left" />
                </div>
                <div class="phi_col-md-6">
                  <h4 class="phi_subheading">Filtr wstępny</h4>
                  <p class="phi_section2-text">
                    Jest odpowiedzialny za&nbsp;wyłapywanie dużych cząsteczek kurzu, włosów i&nbsp;sierści. Można go&nbsp;czyścić
                    i&nbsp;myć. Wyczyść&nbsp;go&nbsp;w&nbsp;momencie, gdy&nbsp;zobaczysz komunikat&nbsp;F0.
                  </p>
                  <div class="phi_section2-icons">
                    <img src="assets/img/siersc-zwierzat.png" alt="Sierść zwierząt" />
                    <img src="assets/img/roztocza.png" alt="Roztocza" />
                    <img src="assets/img/kurz.png" alt="Kurz" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="phi_section3">
            <div class="phi_wrapper">
              <div class="phi_row phi_vertical-center">
                <div class="phi_col-md-6">
                  <h4 class="phi_subheading">Filtr z węglem aktywnym</h4>
                  <p class="phi_section3-text">
                    Usuwa lotne związki organiczne i&nbsp;nieprzyjemne zapachy. Posiada strukturę plastra miodu, dzięki czemu skutecznie
                    oczyszcza powietrze. Duży obszar absorpcji aktywnego węgla odpowiada powierzchni ok.&nbsp;43 boisk piłkarskich,
                    co&nbsp;zapewnia trwałość do&nbsp;12&nbsp;miesięcy.
                  </p>
                  <div class="phi_section3-icons">
                    <img src="assets/img/lotne-zw-organiczne.png" alt="Lotne związki organiczne" />
                    <img src="assets/img/przykre-zapachy.png" alt="Przykre zapachy" />
                  </div>
                </div>
                <div class="phi_col-md-6 phi_text-center phi_order">
                  <img
                    src="assets/img/filtr-z-weglem-aktywnym.jpg"
                    alt="Filtr z węglem aktywnym"
                    class="phi_section3-img  phi_effect_right"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="phi_section4">
            <div class="phi_wrapper">
              <div class="phi_row phi_vertical-center">
                <div class="phi_col-md-6 phi_text-center">
                  <img src="assets/img/filtr-nanoprotect-hepa.jpg" alt="Filtr NanoProtect HEPA" class="phi_section4-img phi_effect_left" />
                </div>
                <div class="phi_col-md-6">
                  <h4 class="phi_subheading">Filtr NanoProtect HEPA</h4>
                  <p class="phi_section4-text">
                    Wychwytuje do 99,97% cząsteczek, takich jak typowe alergeny, szkodliwe cząsteczki PM2.5 (smog), bakterie i wirusy.
                    Jest&nbsp;zbudowany z&nbsp;wielu stabilnych fałd, które&nbsp;po rozłożeniu pokrywają obszar o&nbsp;powierzchni
                    ok.&nbsp;2&nbsp;m<sup>2</sup>, co&nbsp;zapewnia wydajność przez nawet 24&nbsp;miesiące.
                  </p>
                  <div class="phi_section4-icons">
                    <img src="assets/img/zarodniki-plesni.png" alt="Zarodniki pleśni" />
                    <img src="assets/img/bakterie.png" alt="Bakterie" />
                    <img src="assets/img/drobne-czasteczki.png" alt="Drobne cząsteczki" />
                    <img src="assets/img/pylki.png" alt="Pyłki" />
                    <img src="assets/img/mikroskopijne-czasteczki.png" alt="Mikroskopijne cząsteczki" />
                    <img src="assets/img/siersc-zwierzat.png" alt="Sierść zwierząt" />
                    <img src="assets/img/roztocza.png" alt="Roztocza" />
                    <img src="assets/img/kurz.png" alt="Kurz" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="phi_section5">
            <div class="phi_wrapper">
              <div class="phi_row phi_vertical-center">
                <div class="phi_col-md-6">
                  <h4 class="phi_subheading">Filtr 3w1 Nano Protect HEPA</h4>
                  <p class="phi_section5-text">
                    Zintegrowany filtr 3w1 wstępny, Nano&nbsp;Protect&nbsp;HEPA oraz węglowy skutecznie wyłapuje do&nbsp;99,97%
                    zanieczyszczeń o&nbsp;wielkości 0,003&nbsp;mikrona, czyli&nbsp;800&nbsp;razy mniejszych od&nbsp;smogu &nbsp;tym PM2,5,
                    alergeny (pyłki roślin, kurz, sierść zwierząt, alergeny roztoczy, zarodniki pleśni i&nbsp;grzybów), 99,9% bakterii
                    i&nbsp;wirusów, takich jak&nbsp;H1N1. <br />
                    Pochłania&nbsp;lotne związki organiczne, formaldehyd oraz nieprzyjemne zapachy, zatrzymując je&nbsp;wewnątrz
                    mikroskopijnych porów. <br />
                    Wyposażony&nbsp;w technologię VitaShield jest wykonany z&nbsp;niezwykle gęstej włókniny, co&nbsp;zapewnia jego
                    długotrwałą i&nbsp;niezmienną skuteczność. Jego&nbsp;powierzchnia jest równa 31&nbsp;boiskom piłkarskim. Filtr&nbsp;3w1
                    wygodnie się użytkuje i&nbsp;posiada długą żywotność, nawet do&nbsp;3&nbsp;lat.
                  </p>
                  <div class="phi_section5-icons">
                    <img src="assets/img/zarodniki-plesni.png" alt="Zarodniki pleśni" />
                    <img src="assets/img/bakterie.png" alt="Bakterie" />
                    <img src="assets/img/drobne-czasteczki.png" alt="Drobne cząsteczki" />
                    <img src="assets/img/pylki.png" alt="Pyłki" />
                    <img src="assets/img/mikroskopijne-czasteczki.png" alt="Mikroskopijne cząsteczki" />
                    <img src="assets/img/siersc-zwierzat.png" alt="Sierść zwierząt" />
                    <img src="assets/img/roztocza.png" alt="Roztocza" />
                    <img src="assets/img/kurz.png" alt="Kurz" />
                  </div>
                </div>
                <div class="phi_col-md-6 phi_text-center phi_order">
                  <img src="assets/img/filtr-zintegrowany-3w1.jpg" alt="Zintegrowany filtr 3w1" class="phi_section5-img phi_effect_right" />
                </div>
              </div>
            </div>
          </div>
          <div class="phi_section6">
            <div class="phi_wrapper">
              <div class="phi_row phi_vertical-center">
                <div class="phi_col-md-6 phi_text-center">
                  <img
                    src="assets/img/filtr-nawilzajacy.jpg"
                    alt="Filtry do nawilżaczy powietrza"
                    class="phi_section6-img phi_effect_left"
                  />
                </div>
                <div class="phi_col-md-6">
                  <h4 class="phi_subheading">Filtry do nawilżaczy powietrza</h4>
                  <p class="phi_section6-text">
                    Zapobiegają uwalnianiu kamienia, bakterii, zarazków i&nbsp;pleśni podczas nawilżania powietrza. Łatwo&nbsp;utrzymać
                    je&nbsp;w&nbsp;czystości. Wystarczy je wyjąć i&nbsp;przemyć pod bieżącą wodą.<br />Filtr&nbsp;FY2401/30 należy wymienić
                    po&nbsp;6 miesiącach.<br />Filtr&nbsp;HU4102/01 należy wymienić po&nbsp;3 miesiącach.
                  </p>
                  <div class="phi_section6-icons">
                    <img src="assets/img/woda.png" alt="Woda" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="phi_section7">
            <div class="phi_wrapper">
              <div class="phi_row phi_vertical-center">
                <div class="phi_col-md-6">
                  <h4 class="phi_subheading">Filtr obrotowy do urządzeń 2w1</h4>
                  <p class="phi_section7-text">
                    Filtr nawilżający NanoCloud przeznaczony do&nbsp;oczyszczaczy Philips z&nbsp;funkcją nawilżania. Jest&nbsp;łatwy do
                    czyszczenia. Wystarczy wyjąć filtr nawilżający wraz z kółkiem, na&nbsp;którym jest umocowany i&nbsp;przepłukać
                    go&nbsp;pod bieżącą wodą. Żywotność&nbsp;do&nbsp;1&nbsp;roku.
                  </p>
                  <div class="phi_section7-icons">
                    <img src="assets/img/nanocloud.png" alt="NanoCloud" />
                    <img src="assets/img/woda.png" alt="Woda" />
                  </div>
                </div>
                <div class="phi_col-md-6 phi_text-center phi_order">
                  <img
                    src="assets/img/filtr-obrotowy.jpg"
                    alt="Filtr obrotowy do urządzeń 2 w 1"
                    class="phi_section7-img phi_effect_right"
                  />
                </div>
              </div>
            </div>
          </div>
          <div id="phi_configurator">
            <div class="phi_configurator_intro">
              <div class="phi_wrapper">
                <div class="phi_row">
                  <div class="phi_col phi_text-center">
                    <h3 class="phi_heading phi_configurator_intro-heading">Dowiedz się, <strong>jak wymienić filtry</strong></h3>
                    <p class="phi_text phi_configurator_intro-text">Wybierz rodzaj urządzenia:</p>
                  </div>
                </div>
                <agile :options="categoryOptions" class="phi_configurator_carousel phi_configurator_carousel-category">
                  <category v-for="category in categories" :key="category.id" :category="category" @active="setActiveCat"></category>
                </agile>
              </div>
            </div>
            <div v-show="showProducts" class="phi_products">
              <div class="phi_wrapper">
                <div class="phi_row">
                  <div class="phi_col phi_text-center">
                    <h3 class="phi_heading">Wybierz model <strong>swojego urządzenia</strong></h3>
                    <input
                      type="text"
                      class="phi_products-input"
                      placeholder="lub wpisz modelu produktu..."
                      :value="productModel.toUpperCase()"
                      @input="productModel = $event.target.value.toUpperCase()"
                    />
                  </div>
                </div>
                <agile v-if="!noProducts" ref="carousel" :options="carouselOptions" class="phi_configurator_carousel">
                  <product
                    v-for="(product,index) in selectedProducts"
                    :key="product.index"
                    :product="product"
                    :category="activeCat"
                    @active="setActiveProduct"
                  ></product>
                </agile>
                <div v-else class="phi_configurator-noResults">
                  <div class="phi_row">
                    <div class="phi_col phi_text-center">
                      <h3 class="phi_heading"><strong>Nie znaleziono</strong> wyników</h3>
                      <p>Sprawdź, czy numeru produktu został wpisany poprawnie i spróbuj jeszcze raz.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="showDetails">
              <info :info="productDetails[0]" :category="activeCat" @reset="reset"></info>
            </div>
          </div>
          <div class="phi_section8">
            <div class="phi_row">
              <div class="phi_col">
                <img src="assets/img/phi_section8-bg.jpg" alt="Jak czyścić filtr wstępny" class="phi_section8-des" />
                <img src="assets/img/phi_section8-bg-lg.jpg" alt="Jak czyścić filtr wstępny" class="phi_section8-lg" />
                <img src="assets/img/phi_section8-bg-sm.jpg" alt="Jak czyścić filtr wstępny" class="phi_section8-sm" />
                <img src="assets/img/phi_section8-bg-xs.jpg" alt="Jak czyścić filtr wstępny" class="phi_section8-xs" />
              </div>
            </div>
            <div class="phi_section8_box">
              <div class="phi_wrapper">
                <div class="phi_section8_box-info">
                  <h3 class="phi_heading phi_section8-heading">Jak czyścić <strong>filtr wstępny?</strong></h3>
                  <p class="phi_section8-text">
                    Filtr wstępny powinno się czyścić raz na&nbsp;tydzień. Wyjmij&nbsp;go&nbsp;i&nbsp;umyj, gdy&nbsp;na&nbsp;wyświetlaczu
                    pokaże się komunikat&nbsp;<strong>F0</strong>.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="phi_section9">
            <div class="phi_wrapper">
              <div class="phi_row">
                <div class="phi_col phi_text-center">
                  <h3 class="phi_heading">Potwierdzona <strong>skuteczność</strong></h3>
                  <p class="phi_text">Kliknij ikonkę i&nbsp;dowiedz się&nbsp;więcej!</p>
                </div>
              </div>
              <div class="phi_row">
                <div class="phi_col-md-4 phi_section9-box">
                  <img src="assets/img/PTA.png" alt="PTA Logo" class="phi_section9-img" />
                  <p class="phi_section9-text">
                    Oczyszczacze powietrza Philips posiadają <strong>rekomendację Polskiego Towarzystwa Alergologicznego</strong>. Każdy
                    rekomendowany oczyszczacz został przebadany w niezależnych ośrodkach alergologicznych. Dzięki temu masz pewność, że
                    polecane przez specjalistów PTA oczyszczacze powietrza Philips są bezpieczne dla alergików.
                  </p>
                </div>
                <div class="phi_col-md-4 phi_section9-box">
                  <img src="assets/img/PZH.png" alt="PZH Logo" class="phi_section9-img" />
                  <p class="phi_section9-text">
                    Produkt bezpieczny – posiada atest
                    <strong>Narodowego Instytutu Zdrowia Publicznego - Państwowego Zakładu Higieny</strong>.
                  </p>
                </div>
                <div class="phi_col-md-4 phi_section9-box">
                  <img src="assets/img/ECARF.png" alt="ECARF" class="phi_section9-img" />
                  <p class="phi_section9-text">
                    <strong>Fundacja Europejskiego Centrum Badań Alergii (ECARF)</strong> na podstawie przeprowadzonych badań klinicznych
                    potwierdza, że oczyszczacze powietrza Philips pomagają łagodzić objawy alergii.*
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="phi_section10">
            <div class="phi_row">
              <div class="phi_col phi_text-center">
                <img src="assets/img/philips-logo.png" alt="Philips logo" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
